.App{
  width: 90vw;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle{
  margin-top: 2px;
  color: #4d5052;
  font-weight: normal;
  max-width: 500px;
  text-align: center;
}

.inputty{
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 2px 5px;
  border-radius: 2px;
  min-height: 36px;
  max-width: 90vw;
  width: 500px;
}

.inputty:hover{
  border-color: #0074D9;
}

.boxy{
  /*border-radius: 2px;*/
  background-color: rgb(50, 50, 53);
  color: whitesmoke;
  width: 100vw;
  text-align: center;
}

.error{
  background-color: #bf3543;
  color: whitesmoke;
  width: 100vw;
  text-align: center;
}
.error > * {
    margin: 5px;
}

